@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

body{
    margin: 0;
	font-family: 'Open Sans', sans-serif;
}
.container{
}

.clearfix{
    display: none;
}

.brandly-block{padding: 58px 0;}
.container__header{}
.header{
    height: 932px;
    background: url(../images/header/bg.jpg) no-repeat top center;
    padding: 0.01%;
}
.container__fixed{
    max-width: 1170px;
    margin: 0 auto;
}
.container__layout{
    margin: 28px 0 0;
}
.layout{
    display: flex;
    justify-content: space-between;
}

.header__logo{}

.logo{}

.logo__link{}

.logo__img{}

.header__menu-icon{
    display: none;
}

.header__menu{
    margin: 3px 0 0;
}
.menu{
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 18px;
}
.menu__item{
    margin: 0 0 0 75px;
}
.menu__item:first-child{
	margin-left: 0;
}
.menu__link{
    color: #fff;
    text-decoration: none;
}
.menu__link:hover{
	color: #dc0000;
}
.header__info{}
.info{
    text-align: center;
    color: #fff;
}
.info__collection{
    font-weight: 300;
    font-size: 31px;
    margin: 236px 0 0;
    text-transform: uppercase;
    letter-spacing: 8px;
}
.info__heading{
    font-family: 'Lato';
    font-size: 60px;
    font-weight: 900;
    margin: 27px 0 27px 0;
    /* color: red; */
    letter-spacing: -1px;
    word-spacing: 2px;
}
.info__slogan{
    font-weight: 300;
    font-size: 30px;
}
.info__btn{
    width: 199px;
    margin: 46px auto 0;
}
.btn{
    display: block;
    border-radius: 4px;
    height: 56px;
    line-height: 56px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Lato';
    font-weight: 900;
	text-align: center;
}
.btn_white{
	color: #fff;
	border: 2px solid #fff;
}
.container__products{}
.products{}
.container__heading{
	margin: 0 0 64px 0;
}
.products__heading {
    margin: 0 0 64px 0;
}
.heading{text-align: center;font-style: italic;font-weight: 300;margin: 0;font-size: 40px;}

.heading::before, 
.heading::after{
    width: 112px;
    height: 3px;
    display: block;
    content: "";
    background: #dc0000;
    margin: 0 auto;
}

.heading::before{margin-bottom: 15px;}
.heading::after{margin-top: 15px;}

.products__layout{
	margin: 0 0 30px;
}
.layout {}
.categories{}
.layout__col {}
.layout__col_33pc{}
.category {width: 370px;height: 418px;display: flex;/*! margin: auto; */}
.category_men{
    background: url(../images/products/men.jpg) no-repeat top center;
}

.category_women{
    background: url(../images/products/women.jpg) no-repeat top center;
}

.category_watches {
    background: url(../images/products/watches.jpg) no-repeat top center;
}
.category__link{font-size: 40px;font-style: italic;font-weight: 300;text-decoration: none;color: #fff;width: 309px;height: 349px;display: block;border: 3px solid #fff;margin: auto;text-align: center;line-height: 349px;}
.sales{}
.sale-info {}
.sale-info_new-collection{
    background: url(../images/products/new_autumn_collection.jpg) no-repeat top center;
}
.sale-info__link{
    width: 570px;
    height: 418px;
    text-align: center;
    display: block;
    text-decoration: none;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 45px;
    color: #fff;
    padding-top: 120px;
    box-sizing: border-box;
}
.sale-info_spirit-collection{
    background: url(../images/products/mega_sale.jpg) no-repeat top center;
}
.container__blog{}

.blogs{}

.blogs__heading{
    margin: 0px 0 69px 0;
}

.blogs__layout{}

.blog-articles{}

.blog-article{
    width: 571px;
    font-family: 'Lato';
}

.blog-article__img{}

.blog-article__heading{
    margin: 19px 0 20px 0;
} 

.subheading{
	font-size: 30px;
    font-weight: bold;
    color: #dc0000;
	margin: 0;
}

.blog-article__author{
    font-size: 16px;
    color: #6e6e6e;
    margin: 0 0 30px 0;
}

.blog-article__content{
    min-height: 102px;
    line-height: inherit;
    margin: 24px 0;
    padding: 24px 0;
    font-family: 'Open Sans';
    font-size: 18px;
    color: #9a9a9a;
    font-weight: 300;
	border-top: 1px solid #ecf0f1;
	border-bottom: 1px solid #ecf0f1;
}

.blog-article__btn{
    width: 170px;
    margin: 30px 0;
}
.goods-description__btn{
	width:170px;
}
.btn_black {
    color: #333333;
    border: 1px solid #333333;
    border-radius: 1px;
}

.container__goods{}
.goods{
	min-height: 918px;
	background: url(../images/goods/bg.jpg) 0 0 / cover;
}
.goods__slider{}
.slider{}
.slider__slide{}
.slider__slide_shown{}
.slider__layout{}
.slide{}

.slide__col{
    margin-left: 30px;
}

.goods-img{}
.goods-description{
	color:#959595;
}
.goods-description__heading{
	 margin: 19px 0 20px 0;
}
.goods-description__brief{
	font-size:18px;
	line-height:25px;
}
.goods-description__brief::after{
	width: 30px;
    height: 1px;
    display: block;
    content: "";
    background:black;
    margin-left: 0;
	margin-top:30px;
	margin-bottom:27px;
}
.goods-description__content{
	font-family:"Lato";
	font-size:18px;
	line-height:25px;
}
.goods-description__layout{
	width: 370px;
}
.sizes{
	margin-left:0;
	padding:0;
}
.sizes-menu {}
.sizes-menu__item {
	width:70px;
}
.sizes-menu__item_active{
	background:#333333;
	color:#ffffff;
}
.goods-description__btn{
	display: inline-block;
}
.slider__slide{
	margin-bottom:60px;
}
.goods-description__btn{}
.slider__slider-controls{
	width: 78px;
	margin: 0 auto;
}
.slider-controls{
	list-style: none;
	margin: 0;
	padding: 0;
	align-items: center;
}
.slider-controls__item{
	width: 12px;
	height: 12px;
	background: #868686;
	border-radius: 50%;
}
.slider-controls__item_current{
	background: transparent;
	border: 2px solid #dd0b0b;
}
.container__subscribe{}
.subscribe{
	background: url(../images/subscribe/bg.jpg) no-repeat top center;
	padding: 77px 0;
}
.subscribe__heading{
	font-family: 'Open Sans';
    font-size: 18px;
    font-weight: lighter;
    color: #ffffff;
    margin: 11px 0;
}
.subscribe__layout{}
.subscribe-form{}
.subscribe-form__col{
	width: 65%;
}
.subscribe-form__textfiled{
	height: 51px;
	width: 100%;
    font-family: 'Open Sans';
    font-size: 13px;
    color: #ffffff;
    background: transparent url(../images/subscribe/email.png) no-repeat left 30px center;
    padding-left: 80px;
    border: 1px solid #ffffff;
	box-sizing: border-box;
}
.subscribe-form__btn{
    height: 51px;
    background: #fff;
	width: 270px;
    height: 51px;
    font-size: 18px;
    font-weight: bold;
    border: 0px;
    box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
    .container__fixed{
        padding: 0 15px;
    }

    .layout__col{
        width: 49.5%;
    }

    .layout__col_33pc{
        width: 33%;
    }

    .category{
        width: 100%;
    }

    .category__link{
        width: 90%;
    }

    .sale-info__link{
        width: 100%;
    }

    .goods-img{
        width: 100%;
    }

    .goods{
        min-height: 500px;
    }

    .block-article__img{
        width: 100%;
    }

    .blog-article{
        width: 100%;
    }

    .blog-article__content{
        min-height: 144px;
    }

    .layout__col_70pc{
        width: 60%;
    }

    .layout__col_40pc{
        width: 40%;
    }

    .subscribe-form__btn{
        width: 90%;
        display: block;
        margin: 0 auto;
    }

    .subheading{
        font-size: 26px;
        line-height: 30px;
    }

    .goods-description__heading{
        margin: 0;
    }

    .goods-description__brief::after{
        display: none;
    }

}

@media  screen and (max-width: 600px) {
    .layout{
        flex-direction: column;
    }

    .header__menu-icon{
        display: block;
    }

    .header__menu{
        position: absolute;
        right: 10px;
        top: 50px
    }

    .menu__item{
        margin: 5px 0;
    }

    .menu__link{
        display: block;
        background: rgba(255, 255, 255, 0.2);
        padding: 10px 20px;
        display: none;
    }

    .info__heading{
        font-size: 46px;
    }

    .layout__col{
        width: 100%;
        margin: 0 0 10px;
    }

    .category{
        height: auto;
        background-size: cover;
        padding: 15px;
        box-sizing: border-box;
    }

    .category__link{
        width: 100%;
        height: auto;
        padding: 120px 0;
    }

    .sale-info__link{
        font-size: 36px;
        height: auto;
        min-height: 100px;
        padding: 60px 0;
    }

    .slide__col{
        margin: 0;
    }

    .goods-description__layout{
        width: 100%;
    }

    .sizes-menu__item{
        width: 22%;
    }

    .layout_row{
        flex-direction: row;
    }

    .goods-description__btn{
        width: 49%;
    }

    .blog-article__content{
        min-height: 100px;
    }

    .subscribe{
        padding: 33px 0;
    }

    .subscribe-form__btn{
        width: 100%;
    }
}

@media  screen and (max-width: 480px) {
    .info__collection{
        margin-top: 146px;
    }
}

@media  screen and (max-width: 320px) {
    .sale-info__link{
        font-size: 28px;
    }

    .subscribe{
        padding: 19px 0;
    }

    .info__heading{
        font-size: 40px;
    }
}






